.countries {
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.countries__not-found {
  display: block;
  text-align: center;
  padding: 100px;
  font-family: Roboto-Medium;
  font-size: 30px;
  color: var(--grey-color);
}